####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

backend {{ item.name }}
  mode {{ item.mode }}
  option {{ item.option }}
  balance {{ item.balance }}
{% for server in item.servers %}
  server s{{ loop.index }} {{ server }}:80 check
{% endfor %}
