####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

frontend {{ item.name }}
  mode {{ item.mode }}
  bind {{ item.bind_address }}:{{ item.port }}
  option {{ item.option }}
  default_backend {{ item.backend }}
